.profile_cover_img img{
  max-height: 300px;
  object-fit: cover;
}
.profile_img{
  margin-top: -120px;
  margin-left: 60px;
}
.profile_img img{
  max-width: 140px;
  height: 160px;
}
.text_ph{
  margin-top: 10px;
  font-size: 24px;
  font-weight: 600;
  color: rgb(37, 37, 37);
}
.text_p{
  font-size: 16px;
  font-family: 500;
  color: #000000;
}
.text_contain{
  padding: 20px;
  background: #e8e7e7;
}
.text_title{
  padding: 20px;
  text-align: center;
  background: #ffb700;
}
.table tr td{
  padding: 10px 18px 10px 18px;
  font-size: 16px;
}

.gradient-instagram{
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  color: #ffffff;
}